.container .bottom-nav {
    background: #F8F7F7;
    position: sticky;
    bottom: 0;
    display: flex;
    width: 100%;
    height: 60px;
    border-radius: 20px;
    z-index: 999;
}

.container .bottom-nav ul {
    display: flex;
    width: 100%;
}

.bottom-nav ul li {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.bottom-nav ul li a {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.bottom-nav ul li div {
    display: flex;
    padding: 8px;
    border-radius: 8px;
    transition: 0.3s;
}

.bottom-nav ul li a:hover div {
    background: rgba(255, 94, 94, .3);
}

.bottom-nav ul li a.active div {
    background: #FF5E5E;
}

.bottom-nav ul li a img {
    height: 25px;
    width: 25px;
}