@font-face {
    font-family: 'Atma';
    font-style: normal;
    font-weight: 400;
    src: local('Atma'), local('Atma-Regular'),
        url(Atma-Regular.ttf) format('woff2');
}

@font-face {
    font-family: 'Atma';
    font-style: normal;
    font-weight: 500;
    src: local('Atma Medium'), local('Atma-Medium'),
        url(Atma-Medium.ttf) format('woff2');
}

@font-face {
    font-family: 'Atma';
    font-style: normal;
    font-weight: 700;
    src: local('Atma Bold'), local('Atma-Bold'),
        url(Atma-Bold.ttf) format('woff2');
}